.Rproj.user
.Rhistory
.RData
.Ruserdata
.future/

# Data
datOut/

# Quarto render products
*_cache
*_files
*.html

# purl outputs
*TEMP_HPC.R


state_ts2.rds

bom_ts2.rds

*.pptx

macquarie_ds_ewrs.csv

*.docx

*.pdf
